/*body{*/
    /*background: purple;*/
/*}*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{

    font-family: 'Open Sans Condensed', sans-serif;
}
#container{
    /*background: gray;*/
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0 , 0, .1);
}

h1{

    background: #221122;
    color: #f7f7f7;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style: none;
}
li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;

}
li:nth-child(2n){
    background: #f7f7f7;
}
input{
    font-size: 18px;
    color: #221122;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}
input:focus{
    background: #fff;
    border: 3px solid #221122;
    outline: none;
}

.completed{
    color: gray;
    text-decoration: none;
}